check_availability_workflow.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "check-slot",
        "options": {}
      },
      "id": "webhook-check",
      "name": "ElevenLabs Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        100,
        300
      ],
      "webhookId": "check-slot"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "mode": "list",
          "value": "primary"
        },
        "returnAll": true,
        "options": {
          "timeMax": "={{ $json.body.appointment_time }}",
          "timeMin": "={{ $json.body.appointment_time }}",
          "singleEvents": true
        }
      },
      "id": "google-calendar-check",
      "name": "Google Calendar Check",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        300,
        300
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Calendar"
        }
      },
      "notes": "Настроить: Проверять интервал +/- 30 минут от запрошенного времени"
    },
    {
      "parameters": {
        "jsCode": "const events = items.map(item => item.json);\nconst requestedTime = $node[\"ElevenLabs Webhook\"].json.body.appointment_time;\n\n// Логика: Если events.length > 0, значит слот занят\nif (events.length > 0) {\n  return [{\n    json: {\n      status: \"busy\",\n      details: \"На это время уже есть запись.\",\n      alternative_time: \"16:00\" // Тут можно усложнить поиск\n    }\n  }];\n} else {\n  return [{\n    json: {\n      status: \"available\",\n      details: \"Время свободно.\"\n    }\n  }];\n}"
      },
      "id": "logic-check",
      "name": "Logic: Busy or Free",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "response-node",
      "name": "Ответ в ElevenLabs",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        700,
        300
      ]
    }
  ],
  "connections": {
    "ElevenLabs Webhook": {
      "main": [
        [
          {
            "node": "Google Calendar Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar Check": {
      "main": [
        [
          {
            "node": "Logic: Busy or Free",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Logic: Busy or Free": {
      "main": [
        [
          {
            "node": "Ответ в ElevenLabs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}